li {
    color: yellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
h2 {
    color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: white url("images/img.jpg") no-repeat center;
    background-size: cover;
}